@import "../../styles/variables";

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 80px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.header {
  grid-area: header;
}

.main {
  display: flex;
  grid-area: main;
  justify-content: center;
  background: #f4f4f4;
  font-family: $font-family;
}

.footer {
  grid-area: footer;
}
