@import "../../../../styles/variables";

$column-width: calc(#{$max-grid-width} / 4);

.wrapper {
  display: flex;
}

.content {
  display: grid;
  max-width: calc(#{$max-grid-width} / 2);

  @media screen and (min-width: $max-grid-width) {
    grid-template-columns: $column-width $column-width;
    grid-gap: 0px;
  }
}

.item {
  position: relative;
  overflow: hidden;
  float: none;
  width: auto;
  color: #fff;
  text-shadow: 1px 1px 0 #000;

  h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
  }

  span {
    font-size: 0.9em;
    text-overflow: ellipsis;
  }
}

.item-text {
  position: absolute;
  bottom: 0.6em;
  left: 0.6em;
}

.highlighted-show {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.highlighted-movie {
  grid-column: 1 / -1;
  grid-row: 2 / 2;
}
