.wrapper {
  display: flex;
}

.container {
  width: 50%;
}

.content {
  display: grid;
}

.shows-content {
  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-gap: 0px;
  }
}

.movies-content {
  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-gap: 0px;
  }
}

.item {
  position: relative;
  float: none;
  overflow: hidden;
  width: auto;
  color: #fff;
  font-family: "Source Sans Pro", sans-serf;
  text-shadow: 1px 1px 0 #000;

  .item-text {
    position: absolute;
    bottom: 0.6em;
    left: 0.6em;
  }

  h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
  }

  span {
    font-size: 0.9em;
    text-overflow: ellipsis;
  }
}

.show {
  &-highlighted {
    width: auto;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.movie {
  &-highlighted {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
  }
}
