.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(4, 97, 70, 1) 1%,
    rgba(4, 64, 54, 1) 35%,
    rgba(6, 34, 38, 1) 71%
  );
}

.attribution {
  color: #fff;
  font-size: 1.1em;
  font-family: "Source Sans Pro", sans-serif;
}
